<div class="center">
    <mat-card class="login">
        <div class="row">
            <div class="col-md-8">
                <div mat-card-title>
                    <span>KG Store</span>
                    <mat-form-field class="language-select">
                        <mat-select [(ngModel)]="selectedLan" >
                            <mat-option>test</mat-option>
                            <mat-option *ngFor="let lan of languages" [value]="lan.id">
                                <img class="h-w-25" [src]="lan.img">
                            </mat-option>
                          </mat-select>
                      </mat-form-field>
                </div>
                <div mat-card-header>Kullanıcı Girişi</div>
                <div mat-card-content>
                    <mat-form-field class="full-width" appearance="outline" required>
                      <mat-icon matPrefix>person</mat-icon>
                      <input type="text" matInput placeholder="User Name" />
                      <mat-error>Bu alan boş bırakılamaz.</mat-error>
                    </mat-form-field>
                    <mat-form-field class="full-width" appearance="outline" *ngIf="!isClickForgotPassword" required>
                      <mat-icon matPrefix>lock</mat-icon>
                      <input type="password" matInput placeholder="Şifre" [type]="hide ? 'password' : 'text'" />
                      <button mat-icon-button matSuffix (click)="hide = !hide" autocomplete="true">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                      </button>
                      <mat-error>Bu alan boş bırakılamaz.</mat-error>
                    </mat-form-field>
                </div>
                <div mat-card-actions>
                    <div *ngIf="!isClickForgotPassword">
                        <button mat-raised-button color="primary">Giriş</button>
                        <button mat-flat-button (click)="changeForgotPasswordStatus()" style="margin-left: 10px;">Parolamı Unuttum</button>
                    </div>
                    <div *ngIf="isClickForgotPassword">
                        <button mat-raised-button color="primary">Parola Sıfırla</button>
                        <button mat-flat-button (click)="reset()" style="margin-left: 10px;">Giriş</button>
                    </div>
                </div>
              </div>
              <div class="col-md-4" style="background-color: #213c84;">
                <img src="assets/img/kgNode.png" class="center" style="width: 100%;"/>
              </div>
        </div>
    </mat-card>
</div>

<mat-menu #lan="matMenu">
    <button mat-menu-item>
        <img class="h-w-25" src="assets/img/tr.svg">
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item>
        <img class="h-w-25" src="assets/img/en.svg">
    </button>
</mat-menu>
